extends layout

block content
  .jumbotron.masthead
    .row
      .col-md-12
        h1 Readable Lists
    .row
      .col-md-8.col-md-offset-2
        p This site aims to provide an easily browsable, nicely formatted archive of the world's maiing lists.

  ul.list-group
    each list in lists
      li.list-group-item
        .pull-right
          a(href=list.source) (source)
        h4.list-group-item-heading
          = list._id
        p.list-group-item-text= list.description
        p.list-group-item-text
          if list._id === 'esdiscuss'
            a(href='http://esdiscuss.org/1') Read Messages
          else
            a(href='/' + list._id) Read Messages

